layout {
	pane split_direction="vertical" {
		pane command="bash"  {
			args "-c" "pnpm types:dev; cd types; ${SHELL-bash}"
		}
		pane command="bash"  {
			args "-c" "pnpm server:dev; cd server; ${SHELL-bash}"
		}
		pane command="bash"  {
			args "-c" "pnpm client:dev; cd client; ${SHELL-bash}"
		}
	}

}
