layout {
	pane split_direction="vertical" {
		pane command="bash"  {
			args "-c" "pnpm types:dev; cd packages/types; ${SHELL-bash}"
		}
		pane command="bash"  {
			args "-c" "pnpm server:dev; cd packages/server; ${SHELL-bash}"
		}
	}
	pane split_direction="vertical" {
		pane command="bash"  {
			args "-c" "pnpm bun:dev; cd platforms/bun; ${SHELL-bash}"
		}
		
		pane command="bash"  {
			args "-c" "pnpm cf-worker:dev; cd platforms/cf-worker; ${SHELL-bash}"
		}
		
	}
	pane split_direction="vertical" {
		pane command="bash"  {
			args "-c" "pnpm client:dev; cd packages/client; ${SHELL-bash}"
		}
		pane command="bash"  {
			args "-c" "pnpm client:dev:build; cd packages/client; ${SHELL-bash}"
		}
	}

}
